.a-btn {
	max-height: 100%;
	border-radius: 2px;
	background-color: #fafafa;
	font-weight: 500;
	border: none;
	padding: 3px 8px;
	font-family: "Consolas", "Helvetica", "Arial", sans-serif;
	color: #757575;
	height: 36px;
	margin: 0;
	min-width: 64px;
	padding: 0 16px;
	box-shadow: 0 0 3px rgba(117, 117, 117, 0.267);
	will-change: background-color;
	transition: all 0.3s;
	cursor: pointer;
	&:hover {
		background-color: #eeeeee;
	}
	&--danger {
		background-color: #c82f63;
		color: #fff;
		&:hover {
			background-color: #dd4578;
		}
	}
}

@media (max-width: 420px) {
	.a-btn {
		height: 32px;
	}
}
